.header-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #ffffff; 
    padding: 10px; 
  }

  h1 {
    margin: 0; 
    color: rgb(0, 0, 0);
    font-size: 24px; /* Adjust font size as needed */
  }

.navbar {
    padding: 10px; 
    display: flex; 
  }
  

  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar li {
    margin-right: 20px; 
  }
  

  .navbar li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  

  .navbar li a:hover {
    color: #007bff; 
  }